# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# Editor files
.vscode/
.idea/
*.suo
*.swp

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
